// Mixins

// Media Query Shorthand mixin taken from:
// http://thesassway.com/
// intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
//
// Optimized for mobile first.

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

@mixin respond-to($media) {

  @if $media == sm {
      @media only screen and (min-width: $screen-sm) { @content; }
  } @else if $media == md {
      @media only screen and (min-width: $screen-md) { @content; }
  } @else if $media == lg {
      @media only screen and (min-width: $screen-lg) { @content; }
 }
}
